@use 'global';

$prompt-width: 500px;

#search {
    position: absolute;
    font-family: "kode", sans-serif;
    color: white;
    background: transparent;
    @include global.centre-hori(200px);
    width: $prompt-width;
    height: 50px;
    font-size: 40px;
    //opacity: 0;
    border: none;
    font-weight: bold;

    &:focus {
        outline: none;
    }
}

#prompt {
    position: absolute;
    top: 200px; // same height as #search
    right: calc(50% + ($prompt-width / 2) + 10px);
    font-size: 40px;
    font-weight: bold;
}